/Campeonato.class
/Dt.class
/Equipo.class
/Jugador.class
/Main.class
/Pais.class
/Partido.class
/PartidoFinal.class
/PartidoIdaVuelta.class
/PartidoZona.class
/Persona.class
/Posicion.class
/Referi.class
/Resultado.class
/Resultados.class
/Tabla.class
/Zona.class
/CuartosFinal.class
/Final.class
/SemiFinal.class
/Campeonato$1.class
